body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    text-align: center;
}

section {
    margin: 30px;
    padding: 50px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    width: 100% !important;
}

#header, #footer {
    width: 100%;
    margin: 30px;
    font-family: Arial;
}

#header h1 {
    font-size: 50pt;
    color: #e74c3c;
}

div#image_form {
    background: #e74c3c;
    height: 70px;
    width: 350px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input[type=submit], button {
    border-radius: 3px;
    padding: 5px;
    margin: 20px;
    border: none;
}

input[type=submit], button {
    background: #e74c3c;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-style: bold;
    font-size: 15pt;
    margin: auto;
    margin-top: 20px;
}

input[type=submit]:hover, div#image_form:hover, button:hover {
    background: #e74c3caa;
}

div#image_form #image{
    display: none;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

div#selected_images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#selected_images .info {
    border-top: solid 1px #ddd;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
}

div#selected_images h3 {
    color: #333333;
    text-align: center;
    align-items: center;
}

div#selected_images .info div {
    width: 350px;
    height: 150px;
    background: #e6e5e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#selected_images .info img{
    max-height: 100px;
    border-radius: 3px;
    padding: 5px;
}

label {
    text-align: center;
}

.file_inputed {
    border-top: solid 1px #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ephisem_level {
    color: #e74c3c;
    font-size: 25pt;
}

.percent_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.percent_content .item_compair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file_inputed img {
    max-height: 100px;
    border-radius: 3px;
    padding: 5px;
}

.file_inputed div.image {
    width: 350px;
    height: 150px;
    background: #e6e5e3;
    border-radius: 3px;
    margin: 10px;
}

.percent_content .item_compair h2 {
    color: #222222;
    font-size: 20pt;
}

.percent_content .item_compair p {
    color: #e74c3c;
    font-size: 18pt;
}

.hidden {
    display: none !important;
}
